p{
text-align: center;
}

body {
margin: 40px;
text-align: center;
background: deepskyblue;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: beige;
text-align: center;
}

.project img{
text-align: center;
width: 100px;
height: 100px;
margin: 10px;
border: 2px solid rgb(114, 100, 123); /* choose a color */
display: block;
margin: auto;
} /* Assisted by Chat GPT*/

