p{
text-align: center;
}

body {
margin: 40px;
text-align: center;
background: deepskyblue;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
color: beige;
text-align: center;
}

.project img{
text-align: center;
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(114, 100, 123); /* choose a color */
display: block;
margin: auto;
}

.left-img {
    float: left;
    width: 140px;        /* adjust */
    height: 140px;       /* adjust */
    object-fit: cover;
    border-radius: 10px; 
    margin-right: 16px;  /* space between image and text */
  }

